<!-- <button mat-button color="primary" style="float: left;" (click)="exportGeneratePdf()">
    <p style="display: inline-block;margin-top: 0.9vh;">Export exel</p>
</button> -->
<button mat-button color="warn" style="float: left;" (click)="exportGeneratePdf()">
    <!-- exports() -->
    <p style="display: inline-block;margin-top: 0.9vh;">Export pdf</p>
</button>
<div fxLayout fxLayoutAlign="center center" style="display: flex;justify-content: center;">
    <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
    </mat-form-field>
</div>
<table mat-table [dataSource]="this.service.dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="make-gold"> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="id_User">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="make-gold"> User </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
    <ng-container matColumnDef="ngayTao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="make-gold"> Ngày tạo </th>
        <td mat-cell *matCellDef="let element"> {{element.ngayTao| date: 'dd-MM-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="ghiChi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="make-gold"> Ghi chú </th>
        <td mat-cell *matCellDef="let element"> {{element.ghiChu}} </td>
    </ng-container>
    <ng-container matColumnDef="tongTien">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="make-gold"> Tổng tiền </th>
        <td mat-cell *matCellDef="let element"> {{element.tongTien|number}} VNĐ </td>
    </ng-container>
    <ng-container matColumnDef="trangThai">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="make-gold"> Trạng thái </th>
        <td mat-cell *matCellDef="let element">
            <p *ngIf="element.trangThai==0">
                Chưa xác nhận
            </p>
            <p *ngIf="element.trangThai==1">
                Đã xác nhận
            </p>
            <p *ngIf="element.trangThai==2">
                Hoàn thành
            </p>
            <p *ngIf="element.trangThai==3">
                Đã hủy
            </p>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="make-gold">Xem chi tiết, sửa</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="routeChiTiet(element)" color="primary">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="populateForm(element)" color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>