<form [formGroup]="newFormGroup" (ngSubmit)="onSubmit(newFormGroup.value)">
    <div class="container" style="width: 55vw; height:50vh">
        <button class="btn-dialog-close" mat-stroked-button [mat-dialog-close]="true" tabIndex="-1" style="float: right;">
            <mat-icon>clear</mat-icon>
        </button>
        <br>
        <!-- <div class="form-group">
            <label for="form-control">Id</label>
            <input class="form-control" [value]="service.brand.id" readonly>
        </div> -->
        <div class="form-group">
            <label for="TieuDe">Tiêu đề</label>
            <input class="form-control" formControlName="TieuDe" [(ngModel)]="service.blog.tieude" required>
        </div>
        <div class="form-group">
            <label for="NoiDung">Nội dung</label>
            <!-- <ckeditor formControlName="NoiDung" [editor]="Editor" [(ngModel)]="service.blog.noidung" required></ckeditor> -->
            <textarea class="form-control" formControlName="NoiDung" [(ngModel)]="service.blog.noidung" required></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="file" multiple (change)="gopHam($event)" required>
            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
        </div>
        <div class="form-group" style="justify-content:center;display: flex;">
            <button type="submit" class="btn btn-primary" [mat-dialog-close]="true">Submit</button>
        </div>
    </div>
</form>