.cart_qty_cls
 {
  background: var(--theme-deafult);
  width: 20px;
  height: 20px;
  color: #000000;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  top: 20%;
  right: 11px;
  padding: -2px 0px;
  font-size: 16px;
 }
 .cart{
  padding-left: 18px;
 }
 .like {
  padding-left: 15px;
 }
