USE [EFashionShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Quyen] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthHistories]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdentityId] [nvarchar](450) NULL,
 CONSTRAINT [PK_AuthHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[FkAppUser_NguoiThem] [nvarchar](450) NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToDo] [nvarchar](max) NULL,
	[IdUser] [nvarchar](450) NULL,
	[Time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[Gia] [decimal](18, 2) NULL,
	[Mau] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[UserID] [nvarchar](450) NULL,
	[SanPhamId] [int] NOT NULL,
	[Id_SanPhamBienThe] [int] NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Soluong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[Id_HoaDon] [int] NULL,
	[Id_SanPhamBienThe] [int] NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[Id_SanPham] [int] NULL,
	[Mau] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[HoaDonId] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapHangs]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoluongNhap] [int] NOT NULL,
	[ThanhTienNhap] [decimal](18, 2) NOT NULL,
	[Id_PhieuNhapHang] [int] NULL,
	[Id_SanPhamBienThe] [int] NULL,
 CONSTRAINT [PK_ChiTietPhieuNhapHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
	[Xa] [nvarchar](max) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[Id_User] [nvarchar](450) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Huyen] [nvarchar](max) NULL,
	[Tinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageBlogs]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageBlogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](max) NULL,
	[FkBlogId] [int] NULL,
 CONSTRAINT [PK_ImageBlogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageSanPhams]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageSanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](max) NULL,
	[IdSanPham] [int] NULL,
 CONSTRAINT [PK_ImageSanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeekers]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Identity] [nvarchar](450) NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobSeekers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loais]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
 CONSTRAINT [PK_Loais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaGiamGias]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[SoTienGiam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_MaGiamGias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSacs]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSacs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaMau] [nvarchar](max) NULL,
	[Id_Loai] [int] NULL,
 CONSTRAINT [PK_MauSacs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCaps]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
	[SDT] [nvarchar](max) NULL,
	[ThongTin] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhaCungCaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanHieus]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanHieus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[DateCreate] [datetime2](7) NULL,
 CONSTRAINT [PK_NhanHieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationCheckouts]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationCheckouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThongBaoMaDonHang] [int] NOT NULL,
 CONSTRAINT [PK_NotificationCheckouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[TranType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapHangs]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoChungTu] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[NguoiLapPhieu] [nvarchar](450) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[Id_NhaCungCap] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhapHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamBienThes]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamBienThes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_SanPham] [int] NULL,
	[Id_Mau] [int] NULL,
	[SoLuongTon] [int] NOT NULL,
	[SizeId] [int] NULL,
 CONSTRAINT [PK_SanPhamBienThes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[GiaNhap] [decimal](18, 0) NULL,
	[KhuyenMai] [decimal](18, 0) NULL,
	[Tag] [nvarchar](max) NULL,
	[HuongDan] [nvarchar](max) NULL,
	[ThanhPhan] [nvarchar](max) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[NgayTao] [datetime2](7) NULL,
	[TrangThaiSanPham] [nvarchar](max) NULL,
	[TrangThaiHoatDong] [bit] NULL,
	[GioiTinh] [int] NULL,
	[Id_NhanHieu] [int] NULL,
	[Id_Loai] [int] NULL,
	[Id_NhaCungCap] [int] NULL,
	[NhanHieuId] [int] NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenSize] [nvarchar](max) NULL,
	[Id_Loai] [int] NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserChats]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserChats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentChat] [nvarchar](max) NULL,
	[TimeChat] [datetime2](7) NOT NULL,
	[IdUser] [nvarchar](450) NULL,
 CONSTRAINT [PK_UserChats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserComments]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserComments](
	[IdSanPham] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppUserId] [nvarchar](450) NULL,
	[IdUser] [nvarchar](max) NULL,
	[NgayComment] [datetime2](7) NULL,
 CONSTRAINT [PK_UserComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikes]    Script Date: 5/30/2022 2:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikes](
	[IdSanPham] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppUserId] [nvarchar](450) NULL,
	[IdUser] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210812034558_v1', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210812224522_v2', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210812230257_v3', N'5.0.4')
GO
SET IDENTITY_INSERT [dbo].[AuthHistories] ON 

INSERT [dbo].[AuthHistories] ([Id], [IdentityId]) VALUES (1, N'3f34da33-53bd-4c54-9735-66dea19d7af0')
INSERT [dbo].[AuthHistories] ([Id], [IdentityId]) VALUES (2, N'9185bbf1-7002-4180-ba27-9cc772b3f0a1')
INSERT [dbo].[AuthHistories] ([Id], [IdentityId]) VALUES (3, N'3f34da33-53bd-4c54-9735-66dea19d7af0')
SET IDENTITY_INSERT [dbo].[AuthHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDons] ON 

INSERT [dbo].[ChiTietHoaDons] ([Id], [Soluong], [ThanhTien], [Id_HoaDon], [Id_SanPhamBienThe], [GiaBan], [Id_SanPham], [Mau], [Size], [HoaDonId]) VALUES (1, 6, CAST(1542000.00 AS Decimal(18, 2)), 1, 4, CAST(257000.00 AS Decimal(18, 2)), 1, N'Đen', N'M', NULL)
INSERT [dbo].[ChiTietHoaDons] ([Id], [Soluong], [ThanhTien], [Id_HoaDon], [Id_SanPhamBienThe], [GiaBan], [Id_SanPham], [Mau], [Size], [HoaDonId]) VALUES (2, 11, CAST(2827000.00 AS Decimal(18, 2)), 1, 2, CAST(257000.00 AS Decimal(18, 2)), 1, N'Trắng', N'M', NULL)
INSERT [dbo].[ChiTietHoaDons] ([Id], [Soluong], [ThanhTien], [Id_HoaDon], [Id_SanPhamBienThe], [GiaBan], [Id_SanPham], [Mau], [Size], [HoaDonId]) VALUES (3, 6, CAST(3078000.00 AS Decimal(18, 2)), 2, 7, CAST(513000.00 AS Decimal(18, 2)), 2, N'Tím', N'L', NULL)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDons] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapHangs] ON 

INSERT [dbo].[ChiTietPhieuNhapHangs] ([Id], [SoluongNhap], [ThanhTienNhap], [Id_PhieuNhapHang], [Id_SanPhamBienThe]) VALUES (1, 100, CAST(15700000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[ChiTietPhieuNhapHangs] ([Id], [SoluongNhap], [ThanhTienNhap], [Id_PhieuNhapHang], [Id_SanPhamBienThe]) VALUES (2, 150, CAST(23550000.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[ChiTietPhieuNhapHangs] ([Id], [SoluongNhap], [ThanhTienNhap], [Id_PhieuNhapHang], [Id_SanPhamBienThe]) VALUES (3, 150, CAST(23550000.00 AS Decimal(18, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDons] ON 

INSERT [dbo].[HoaDons] ([Id], [NgayTao], [GhiChu], [TrangThai], [Xa], [TongTien], [Id_User], [DiaChi], [Huyen], [Tinh]) VALUES (1, CAST(N'2021-11-10T00:34:07.4891464' AS DateTime2), NULL, 2, NULL, CAST(4369000.00 AS Decimal(18, 2)), N'3f34da33-53bd-4c54-9735-66dea19d7af0', N'Bình Dương', NULL, NULL)
INSERT [dbo].[HoaDons] ([Id], [NgayTao], [GhiChu], [TrangThai], [Xa], [TongTien], [Id_User], [DiaChi], [Huyen], [Tinh]) VALUES (2, CAST(N'2021-11-10T00:42:02.1291024' AS DateTime2), NULL, 0, NULL, CAST(3078000.00 AS Decimal(18, 2)), N'37cb2728-7ab2-4a1f-9035-b4b68dbed8a4', N'TP - HCM', NULL, NULL)
INSERT [dbo].[HoaDons] ([Id], [NgayTao], [GhiChu], [TrangThai], [Xa], [TongTien], [Id_User], [DiaChi], [Huyen], [Tinh]) VALUES (3, CAST(N'2021-11-10T09:45:45.9897542' AS DateTime2), NULL, 0, NULL, CAST(3078000.00 AS Decimal(18, 2)), N'1e85ffbf-126a-4192-8116-caa454ac393d', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HoaDons] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageBlogs] ON 

INSERT [dbo].[ImageBlogs] ([Id], [ImageName], [FkBlogId]) VALUES (1, N'Điểm nhấn của bộ sưu tập Louis Vuitton Cruise 20221.jpg', 1)
INSERT [dbo].[ImageBlogs] ([Id], [ImageName], [FkBlogId]) VALUES (2, N'Điểm nhấn của bộ sưu tập Louis Vuitton Cruise 20222.png', 1)
INSERT [dbo].[ImageBlogs] ([Id], [ImageName], [FkBlogId]) VALUES (3, N'Thiết kế của Kim Kardashian thu một triệu USD trong một phút3.jpg', 2)
SET IDENTITY_INSERT [dbo].[ImageBlogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageSanPhams] ON 

INSERT [dbo].[ImageSanPhams] ([Id], [ImageName], [IdSanPham]) VALUES (1, N'Áo ba lỗ1.jfif', 1)
INSERT [dbo].[ImageSanPhams] ([Id], [ImageName], [IdSanPham]) VALUES (2, N'Áo ba lỗ2.jfif', 1)
INSERT [dbo].[ImageSanPhams] ([Id], [ImageName], [IdSanPham]) VALUES (3, N'Áo ba lỗ3.jfif', 1)
SET IDENTITY_INSERT [dbo].[ImageSanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSeekers] ON 

INSERT [dbo].[JobSeekers] ([Id], [Id_Identity], [Location]) VALUES (1, N'9185bbf1-7002-4180-ba27-9cc772b3f0a1', NULL)
INSERT [dbo].[JobSeekers] ([Id], [Id_Identity], [Location]) VALUES (2, N'37cb2728-7ab2-4a1f-9035-b4b68dbed8a4', NULL)
INSERT [dbo].[JobSeekers] ([Id], [Id_Identity], [Location]) VALUES (3, N'f04b1d20-7e45-4124-986f-08d08232b0cb', NULL)
SET IDENTITY_INSERT [dbo].[JobSeekers] OFF
GO
SET IDENTITY_INSERT [dbo].[Loais] ON 

INSERT [dbo].[Loais] ([Id], [Ten]) VALUES (1, N'Áo')
INSERT [dbo].[Loais] ([Id], [Ten]) VALUES (2, N'Quần')
INSERT [dbo].[Loais] ([Id], [Ten]) VALUES (3, N'Đồng hồ')
SET IDENTITY_INSERT [dbo].[Loais] OFF
GO
SET IDENTITY_INSERT [dbo].[MaGiamGias] ON 

INSERT [dbo].[MaGiamGias] ([Id], [Code], [SoTienGiam]) VALUES (1, N'K5L6P', CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[MaGiamGias] ([Id], [Code], [SoTienGiam]) VALUES (2, N'OWLVR', CAST(125000.00 AS Decimal(18, 2)))
INSERT [dbo].[MaGiamGias] ([Id], [Code], [SoTienGiam]) VALUES (3, N'KN2XD', CAST(125000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MaGiamGias] OFF
GO
SET IDENTITY_INSERT [dbo].[MauSacs] ON 

INSERT [dbo].[MauSacs] ([Id], [MaMau], [Id_Loai]) VALUES (1, N'Đen', 1)
INSERT [dbo].[MauSacs] ([Id], [MaMau], [Id_Loai]) VALUES (2, N'Trắng', 1)
INSERT [dbo].[MauSacs] ([Id], [MaMau], [Id_Loai]) VALUES (3, N'Vàng', 1)
SET IDENTITY_INSERT [dbo].[MauSacs] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCaps] ON 

INSERT [dbo].[NhaCungCaps] ([Id], [Ten], [SDT], [ThongTin], [DiaChi]) VALUES (1, N'Công Ty Cổ Phần May Phú Thịnh - Nhà Bè', N'(028) 38650561', N'Chuyên cung cấp quần áo giày dép các loại, rất hân hạnh được phục vụ quý khách', N'13A, Tống Văn Trân, Phường 5, Quận 11 Tp. Hồ Chí Minh (TPHCM)')
INSERT [dbo].[NhaCungCaps] ([Id], [Ten], [SDT], [ThongTin], [DiaChi]) VALUES (2, N'An Dương - Công Ty TNHH Thương Mại Thời Trang An Dương', N'(024) 36415898', N'	Chuyên cung cấp quần áo giày dép các loại, rất hân hạnh được phục vụ quý khách', N'Phòng 106, C4 Khu Đô Thị Mới Đại Kim,Q. Hoàng Mai, Hà Nội')
INSERT [dbo].[NhaCungCaps] ([Id], [Ten], [SDT], [ThongTin], [DiaChi]) VALUES (3, N'Công Ty CP Đầu Tư K&G Việt Nam', N'(024) 37880111', N'	Chuyên cung cấp quần áo giày dép các loại, rất hân hạnh được phục vụ quý khách', N'Tầng 11, Khối A, Tòa nhà Sông Đà, Đ. Phạm Hùng, P. Mỹ Đình 1, Q. Nam Từ Liêm, Hà Nội')
SET IDENTITY_INSERT [dbo].[NhaCungCaps] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanHieus] ON 

INSERT [dbo].[NhanHieus] ([Id], [Ten], [DateCreate]) VALUES (1, N'ZERO', CAST(N'2021-08-12T12:54:04.2387953' AS DateTime2))
INSERT [dbo].[NhanHieus] ([Id], [Ten], [DateCreate]) VALUES (2, N'Nelly', CAST(N'2021-08-12T12:54:12.2748796' AS DateTime2))
INSERT [dbo].[NhanHieus] ([Id], [Ten], [DateCreate]) VALUES (3, N'Gucci', CAST(N'2021-08-12T12:54:20.3139413' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NhanHieus] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationCheckouts] ON 

INSERT [dbo].[NotificationCheckouts] ([Id], [ThongBaoMaDonHang]) VALUES (1, 11)
INSERT [dbo].[NotificationCheckouts] ([Id], [ThongBaoMaDonHang]) VALUES (2, 12)
SET IDENTITY_INSERT [dbo].[NotificationCheckouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [TenSanPham], [TranType]) VALUES (1, N'Áo Thun Nam Thể Thao', N'Add')
INSERT [dbo].[Notifications] ([Id], [TenSanPham], [TranType]) VALUES (2, NULL, N'Add')
INSERT [dbo].[Notifications] ([Id], [TenSanPham], [TranType]) VALUES (3, NULL, N'Add')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapHangs] ON 

INSERT [dbo].[PhieuNhapHangs] ([Id], [SoChungTu], [NgayTao], [TongTien], [NguoiLapPhieu], [GhiChu], [Id_NhaCungCap]) VALUES (1, N'O3RS6X4', CAST(N'2021-11-09T22:11:24.0405196' AS DateTime2), CAST(9420000.00 AS Decimal(18, 2)), N'1e85ffbf-126a-4192-8116-caa454ac393d', N'Phiếu nhập hàng thành công', 1)
INSERT [dbo].[PhieuNhapHangs] ([Id], [SoChungTu], [NgayTao], [TongTien], [NguoiLapPhieu], [GhiChu], [Id_NhaCungCap]) VALUES (2, N'798ZHYH', CAST(N'2021-11-09T23:06:46.3420637' AS DateTime2), CAST(3140000.00 AS Decimal(18, 2)), N'1e85ffbf-126a-4192-8116-caa454ac393d', N'ok', 1)
INSERT [dbo].[PhieuNhapHangs] ([Id], [SoChungTu], [NgayTao], [TongTien], [NguoiLapPhieu], [GhiChu], [Id_NhaCungCap]) VALUES (3, N'XFMQTBW', CAST(N'2021-11-10T00:41:16.0587498' AS DateTime2), CAST(10885000.00 AS Decimal(18, 2)), N'1e85ffbf-126a-4192-8116-caa454ac393d', N'Thành công', 1)
SET IDENTITY_INSERT [dbo].[PhieuNhapHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamBienThes] ON 

INSERT [dbo].[SanPhamBienThes] ([Id], [Id_SanPham], [Id_Mau], [SoLuongTon], [SizeId]) VALUES (1, 1, 1, 350, 1)
INSERT [dbo].[SanPhamBienThes] ([Id], [Id_SanPham], [Id_Mau], [SoLuongTon], [SizeId]) VALUES (2, 1, 2, 539, 2)
INSERT [dbo].[SanPhamBienThes] ([Id], [Id_SanPham], [Id_Mau], [SoLuongTon], [SizeId]) VALUES (3, 1, 1, 150, 3)
SET IDENTITY_INSERT [dbo].[SanPhamBienThes] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Id], [TenSize], [Id_Loai]) VALUES (1, N'S', 1)
INSERT [dbo].[Sizes] ([Id], [TenSize], [Id_Loai]) VALUES (2, N'M', 1)
INSERT [dbo].[Sizes] ([Id], [TenSize], [Id_Loai]) VALUES (3, N'L', 1)
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserComments] ON 

INSERT [dbo].[UserComments] ([IdSanPham], [Content], [Id], [AppUserId], [IdUser], [NgayComment]) VALUES (2, N'Sản phẩm rất tốt', 1, NULL, NULL, NULL)
INSERT [dbo].[UserComments] ([IdSanPham], [Content], [Id], [AppUserId], [IdUser], [NgayComment]) VALUES (4, N'Rất thoải mái', 2, NULL, NULL, NULL)
INSERT [dbo].[UserComments] ([IdSanPham], [Content], [Id], [AppUserId], [IdUser], [NgayComment]) VALUES (6, N'Shop cần nhập sản phẩm này về nhiều hơn', 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserComments] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLikes] ON 

INSERT [dbo].[UserLikes] ([IdSanPham], [Id], [AppUserId], [IdUser]) VALUES (7, 1, NULL, N'53cc4f58-ec9e-4bc7-96b4-c3cbe7aba309')
INSERT [dbo].[UserLikes] ([IdSanPham], [Id], [AppUserId], [IdUser]) VALUES (8, 2, NULL, N'53cc4f58-ec9e-4bc7-96b4-c3cbe7aba309')
INSERT [dbo].[UserLikes] ([IdSanPham], [Id], [AppUserId], [IdUser]) VALUES (8, 3, NULL, N'3f34da33-53bd-4c54-9735-66dea19d7af0')
SET IDENTITY_INSERT [dbo].[UserLikes] OFF
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Time]
GO
ALTER TABLE [dbo].[PhieuNhapHangs] ADD  DEFAULT ((0)) FOR [Id_NhaCungCap]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuthHistories]  WITH CHECK ADD  CONSTRAINT [FK_AuthHistories_AspNetUsers_IdentityId] FOREIGN KEY([IdentityId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuthHistories] CHECK CONSTRAINT [FK_AuthHistories_AspNetUsers_IdentityId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_AspNetUsers_FkAppUser_NguoiThem] FOREIGN KEY([FkAppUser_NguoiThem])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_AspNetUsers_FkAppUser_NguoiThem]
GO
ALTER TABLE [dbo].[Calendar]  WITH CHECK ADD  CONSTRAINT [FK_Calendar_AspNetUsers_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Calendar] CHECK CONSTRAINT [FK_Calendar_AspNetUsers_IdUser]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_SanPhamBienThes_Id_SanPhamBienThe] FOREIGN KEY([Id_SanPhamBienThe])
REFERENCES [dbo].[SanPhamBienThes] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_SanPhamBienThes_Id_SanPhamBienThe]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_SanPhamBienThes_Id_SanPhamBienThe] FOREIGN KEY([Id_SanPhamBienThe])
REFERENCES [dbo].[SanPhamBienThes] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_SanPhamBienThes_Id_SanPhamBienThe]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_SanPhams_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_SanPhams_Id_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapHangs_PhieuNhapHangs_Id_PhieuNhapHang] FOREIGN KEY([Id_PhieuNhapHang])
REFERENCES [dbo].[PhieuNhapHangs] ([Id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHangs] CHECK CONSTRAINT [FK_ChiTietPhieuNhapHangs_PhieuNhapHangs_Id_PhieuNhapHang]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapHangs_SanPhamBienThes_Id_SanPhamBienThe] FOREIGN KEY([Id_SanPhamBienThe])
REFERENCES [dbo].[SanPhamBienThes] ([Id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHangs] CHECK CONSTRAINT [FK_ChiTietPhieuNhapHangs_SanPhamBienThes_Id_SanPhamBienThe]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_AspNetUsers_Id_User] FOREIGN KEY([Id_User])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_AspNetUsers_Id_User]
GO
ALTER TABLE [dbo].[ImageBlogs]  WITH CHECK ADD  CONSTRAINT [FK_ImageBlogs_Blogs_FkBlogId] FOREIGN KEY([FkBlogId])
REFERENCES [dbo].[Blogs] ([Id])
GO
ALTER TABLE [dbo].[ImageBlogs] CHECK CONSTRAINT [FK_ImageBlogs_Blogs_FkBlogId]
GO
ALTER TABLE [dbo].[ImageSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_ImageSanPhams_SanPhams_IdSanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ImageSanPhams] CHECK CONSTRAINT [FK_ImageSanPhams_SanPhams_IdSanPham]
GO
ALTER TABLE [dbo].[JobSeekers]  WITH CHECK ADD  CONSTRAINT [FK_JobSeekers_AspNetUsers_Id_Identity] FOREIGN KEY([Id_Identity])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[JobSeekers] CHECK CONSTRAINT [FK_JobSeekers_AspNetUsers_Id_Identity]
GO
ALTER TABLE [dbo].[MauSacs]  WITH CHECK ADD  CONSTRAINT [FK_MauSacs_Loais_Id_Loai] FOREIGN KEY([Id_Loai])
REFERENCES [dbo].[Loais] ([Id])
GO
ALTER TABLE [dbo].[MauSacs] CHECK CONSTRAINT [FK_MauSacs_Loais_Id_Loai]
GO
ALTER TABLE [dbo].[PhieuNhapHangs]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHangs_AspNetUsers_NguoiLapPhieu] FOREIGN KEY([NguoiLapPhieu])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PhieuNhapHangs] CHECK CONSTRAINT [FK_PhieuNhapHangs_AspNetUsers_NguoiLapPhieu]
GO
ALTER TABLE [dbo].[PhieuNhapHangs]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHangs_NhaCungCaps_Id_NhaCungCap] FOREIGN KEY([Id_NhaCungCap])
REFERENCES [dbo].[NhaCungCaps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhapHangs] CHECK CONSTRAINT [FK_PhieuNhapHangs_NhaCungCaps_Id_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPhamBienThes]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamBienThes_MauSacs_Id_Mau] FOREIGN KEY([Id_Mau])
REFERENCES [dbo].[MauSacs] ([Id])
GO
ALTER TABLE [dbo].[SanPhamBienThes] CHECK CONSTRAINT [FK_SanPhamBienThes_MauSacs_Id_Mau]
GO
ALTER TABLE [dbo].[SanPhamBienThes]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamBienThes_SanPhams_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[SanPhamBienThes] CHECK CONSTRAINT [FK_SanPhamBienThes_SanPhams_Id_SanPham]
GO
ALTER TABLE [dbo].[SanPhamBienThes]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamBienThes_Sizes_SizeId] FOREIGN KEY([SizeId])
REFERENCES [dbo].[Sizes] ([Id])
GO
ALTER TABLE [dbo].[SanPhamBienThes] CHECK CONSTRAINT [FK_SanPhamBienThes_Sizes_SizeId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_Loais_Id_Loai] FOREIGN KEY([Id_Loai])
REFERENCES [dbo].[Loais] ([Id])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_Loais_Id_Loai]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_NhaCungCaps_Id_NhaCungCap] FOREIGN KEY([Id_NhaCungCap])
REFERENCES [dbo].[NhaCungCaps] ([Id])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_NhaCungCaps_Id_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_NhanHieus_NhanHieuId] FOREIGN KEY([NhanHieuId])
REFERENCES [dbo].[NhanHieus] ([Id])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_NhanHieus_NhanHieuId]
GO
ALTER TABLE [dbo].[Sizes]  WITH CHECK ADD  CONSTRAINT [FK_Sizes_Loais_Id_Loai] FOREIGN KEY([Id_Loai])
REFERENCES [dbo].[Loais] ([Id])
GO
ALTER TABLE [dbo].[Sizes] CHECK CONSTRAINT [FK_Sizes_Loais_Id_Loai]
GO
ALTER TABLE [dbo].[UserChats]  WITH CHECK ADD  CONSTRAINT [FK_UserChats_AspNetUsers_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserChats] CHECK CONSTRAINT [FK_UserChats_AspNetUsers_IdUser]
GO
ALTER TABLE [dbo].[UserComments]  WITH CHECK ADD  CONSTRAINT [FK_UserComments_AspNetUsers_AppUserId] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserComments] CHECK CONSTRAINT [FK_UserComments_AspNetUsers_AppUserId]
GO
ALTER TABLE [dbo].[UserLikes]  WITH CHECK ADD  CONSTRAINT [FK_UserLikes_AspNetUsers_AppUserId] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserLikes] CHECK CONSTRAINT [FK_UserLikes_AspNetUsers_AppUserId]
GO
